<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1> We are inside App</h1>
    <h1> Author name : {{Author}} </h1>
<!-- 
        {% if marks >= 80 %}
        <p> Bhai, Tumi Golden A+ Paiso </p>
        {% elif marks >= 70 and marks <= 79 %}
        <p> Bhai, Tumi A paiso </p>
        {% elif marks >= 40 and marks <= 69 %}
        <p> Bhai, Tumi temon Bhalo koro nai </p>
        {% else %}
        <p> Bhai, Tumi fail korso </p>
        {% endif %} -->

        <!-- <table border="1" width = 500>
            <tr>
                <th>ID</th>
                <th>Courses</th>
                <th>Teachers</th>
            </tr>
                {% for i in Courses %}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.course}}</td>
                    <td>{{i.teacher}}</td>
                </tr>
                {% endfor %}
            </tr>
        </table> -->


        <h1>{{marks | add:"2"}}</h1>
        <h1>{{marks | divisibleby:"2"}}</h1>
        <h1>{{blog | length}}</h1>
        <h1>{{blog | wordcount}}</h1>
        <h1>{{blog | truncatewords:2}}</h1>
        <h1>{{blog | truncatechars:3}}</h1>
        <h1>{{blog | make_list}}</h1>
        <h1>{{blog | upper}}</h1>
        <h1>{{blog | lower}}</h1>
        <h1>{{lst | join:","}}</h1>

 

</body>
</html>